doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel='shortcut icon', sizes='64x64', href='favicon.ico')
    link(rel="stylesheet" href="css/main.min.css")
    title БЖР
  body
    include sections/profile
    include sections/address
    include sections/employment  

    script(src="js/main.min.js")